<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Approve Button Component</title>
    <script src="./src/ApproveButton.js"></script>
</head>
<body>
    <approve-button></approve-button>
    <approve-button></approve-button>
    <approve-button></approve-button>
    <approve-button></approve-button>
    <approve-button></approve-button>
    <approve-button></approve-button>
    <approve-button></approve-button>
    <script src="./src/main.js"></script>
</body>

</html>